node_modules/
dist/
.env.local
chess-backend/infra/build/
chess-backend/infra/.terraform/
chess-backend/infra/terraform.tfstate
chess-backend/infra/terraform.tfstate.backup
chess-backend/infra/*.zip
.DS_Store
